# Murlidhar Meena
# SID-91580

# 1. Given a list of integers, remove all occurrences of a specific value using a list method.

In [1]:
numbers = [1, 2, 3, 4, 2, 2, 5]
value_to_remove = 2
numbers = [num for num in numbers if num != value_to_remove]
print(numbers)

[1, 3, 4, 5]

# 2. Concatenate a list of strings into a single string, with each element separated by a space, using a list method

In [2]:
strings = ["hello", "world", "python"]
result = " ".join(strings)
print(result)

hello world python

# 3. Reverse a list of integers using a built-in list method.

In [3]:
numbers = [1, 2, 3, 4, 5]
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

# 4. Sort a list of numbers in descending order using a built-in list method.

In [4]:
numbers = [4, 2, 9, 1, 5]
numbers.sort(reverse=True)
print(numbers)

[9, 5, 4, 2, 1]

# 5. Given two lists, combine them into a single list and remove any duplicate elements using a list method.

In [5]:
list1 = [1, 2, 3]
list2 = [3, 4, 5]
combined = list(set(list1 + list2))
print(combined)

[1, 2, 3, 4, 5]

# 6. Convert a tuple of integers into a list and remove the first and last elements using a tuple method.

In [6]:
numbers_tuple = (10, 20, 30, 40, 50)
numbers_list = list(numbers_tuple)
modified_list = numbers_list[1:-1]
print(modified_list)

[20, 30, 40]

# 7. Given a list of tuples, extract all the first elements of each tuple into a separate list using tuple unpacking.

In [7]:
tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
first_elements = [x for x, _ in tuples]
print(first_elements)

[1, 2, 3]

# 8. Combine two tuples into a single tuple.

In [8]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 4, 5, 6)

# 9.	Find the maximum and minimum values in a tuple of numbers using tuple methods.

In [9]:
numbers_tuple = (3, 8, 1, 6, 9)
max_value = max(numbers_tuple)
min_value = min(numbers_tuple)
print(max_value)  
print(min_value)

9
1

# 10.	Convert a tuple of strings into a single string, with each element separated by a comma, using tuple methods.

In [10]:
strings_tuple = ("apple", "banana", "cherry")
result = ", ".join(strings_tuple)
print(result)

apple, banana, cherry

# 11.	Given two sets, return the union of the two sets using a set operation.

In [11]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

# 12.	Find the intersection of two sets using a set method.

In [13]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

# 13.	Remove all elements from one set that are also present in another set using a set method.

In [14]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set1.difference_update(set2)
print(set1)

{1, 2}

# 14.	Find the difference between two sets using a set method.

In [15]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

# 15.	Convert a list of integers into a set and then back to a list to remove duplicates, using set operations.

In [16]:
numbers = [1, 2, 2, 3, 4, 4, 5]
numbers_set = set(numbers)
unique_numbers = list(numbers_set)
print(unique_numbers)

[1, 2, 3, 4, 5]

# 16.	Merge two dictionaries into a single dictionary using a dictionary method.

In [17]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged_dict = {**dict1, **dict2}  
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

# 17.	Extract all values from a dictionary into a list using a dictionary method.

In [18]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
values_list = list(my_dict.values())
print(values_list)

[1, 2, 3]